@import '../../assets/styles/variables';
@import '../../assets/styles/global';
@import '../../assets/styles/mixins';

.movieItem-section{
    color: $white-color;
    font-weight: 200;
    position: relative;
    img{
        height: 90%;
        width: 100%;
        object-fit: cover;
        &:hover{
            cursor: pointer;
        }
    }
}

.movieItem-details{
    @include flex(row, space-between, center);
    color: $white-color;
    padding: 1rem 0;
}

.movieItem-category{
    font-size: h6;
}

.movieItem-buttons{
    position: absolute;
    top: 5%;
    left: 0;
    width: 100%;
    @include flex(row, flex-end, center);
    padding: 2rem;
    .btn{
        padding: 1rem 2rem;
        margin: 1rem;
    }
}

.btn-editItem{
    background: $black-color;
    color: $red-color;
    border: 2px solid $red-color;
    transition: $transition;
    cursor: pointer;
    &:hover{
        color: $white-color;
        background: $red-color;
    }
}

.btn-removeItem{
    background: $red-color;
    color: $white-color;
    border: 2px solid $red-color;
    transition: $transition;
    cursor: pointer;
    &:hover{
        color: $red-color;
        background: $white-color;
    }
}
