@import '../../assets/styles/variables';
@import '../../assets/styles/mixins';
@import '../../assets/styles/global';

.movieDetails_section{
    width: 100%;
    height: 70vh;
    background: $black-color;
    color: $white-color;
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, 0%);
    z-index: 120;
    @include flex(row, flex-start, center);
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.movieDetails_content{
    min-height: 60%;
    @include flex(column, space-evenly, flex-start);
    padding-left: 5rem;
}

.movieDetails_info{
    @include flex(row, flex-start, center);
    color: $red-color;
    h4{
        &:nth-child(2){
            padding: 0 5rem;
        }
    }
}

.btn{
    padding: 1rem 2rem;
    background: $black-color;
    color: $red-color;
    border: 2px solid $red-color;
    transition: $transition;
    cursor: pointer;
    &:hover{
        color: $white-color;
        background: $red-color;
    }
}

